html {
    font-size: 52.5%;

    @mixin atSmall {
        font-size: 53.5%;
    }

    @mixin atMedium {
        font-size: 60.5%;
    }

    @mixin atLarge {
        font-size: 68.5%;
    }
}

ul {
    margin: .75rem 0;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
}

body {
    font-family: 'lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.mb-md {
    @mixin atSmall {
        margin-top: 7.5rem;
    }
}

.ml-md {
    @mixin atSmall {
        margin-left: 5.5rem;
    }
}
