.about-cover {
    background-image: url('/assets/images/about-me.png');
    background-repeat: no-repeat;
    position: relative;
    min-height: 40rem; 

    @mixin atMedium {
        background-size: cover; 
    }

    @mixin atLarge {
        min-height: 42rem; 
    }

    img {
        height: auto;
        max-width: 70%;
        position: absolute;
        left: 30%;
        top: 30%;
        transform: translateY(-50%);
        transform: translateX(-29%);

        @mixin atMedium {
            max-width: 75%;
        }
    
        @mixin atLarge {
            max-width: 100%;
        }
    }
}

.about {
    display: flex;
    flex-flow: column wrap;
 
    &__wrapper {
        overflow: hidden;
        
        &:nth-child(even) {
            background: #f6f6f6;
            width: 100%;
        }
    }

 /*   @media screen and (max-width:600px) {
        padding: 0 2rem;
    } */

  /*    @mixin atSmall {
        padding: 0 2rem;
    } */


    &__block {
        display: flex; 
        padding: 12rem 0;
        max-width: 117rem;
        margin: 0 auto;
        flex-flow: column wrap;
        align-items: center;
        position: relative;

        h1 {
            margin: 0;
            line-height: 1;
            text-align: left;
    
            @mixin atSmall {
                font-size: 7.75em;
            }
        }
    
        h2 {
            line-height: .5;
            text-align: left;
        }
    
        p {
            max-width: 60rem;
        }

        @mixin atSmall {
            flex-flow: column nowrap;
        }

        @mixin atMedium {
            flex-flow: row nowrap;
        }

        .img-wrap {
            flex: 0 2 40%;
            padding: 1rem;
            margin: auto;
        }

        .musician {
            position: absolute;
            height: 100%;
            left: 70%;
            top: 0;
        }

        .info {
            padding: 1rem;
            margin: auto;

            @mixin atSmall {
                max-width: 100%;
            }
        }
    }
}