footer {
    background-color: $backgroundBlack;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        text-align: center;
        color: $siteLinks;
        font-size: 1.3rem;
    }
    
}