
p {
    font-size: 1.6rem;
    color: $mainGrey;
    font-weight: 400;
}

h1 {
    font-family: 'Neuton', serif;
    font-style: italic;
    font-weight: 300;
    font-size: 5em;
    color: $headerLight;
    text-align: center;
    line-height: 0;
    margin-top: 8rem;

    @mixin atSmall {
        font-size: 7.75em;
        margin: 10rem 0 0;
    }

    @mixin atLarge {
        font-size: 8.75em;
    }
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    line-height: 0;
    font-style: italic;
    font-weight: 400;
    color: $mainBlack;

    @mixin atSmall {
        font-size: 2.4rem;
    }

}

.accent {
    color: #F18000;
}